:root {
  --calculator-width: 250px;
  --calculator-height: 530px;
}

#box{
  position: absolute;
  width: 300px;
  height: 300px;
  background: red;
  text-align: center;
  padding: 130px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: auto;
  width: 20%;
}

header.calculator {
  position: absolute;
  width: var(--calculator-width);
  height: var(--calculator-height);
  background: darkgrey;
}

.angka, .operand {
  padding-left: 15px;
  border: 2px inset grey;
  margin: 10px 10px;
  align: center;

}

.angka > button, .operand > button {
  background: white;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10%;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.angka > button:hover, .operand > button:hover {
  background: wheat;
}

.angka #null {
  visibility: hidden;
}

.screen {
  height: calc(var(--calculator-height) * 0.15);
  margin: 20px 15px;
  text-align: right;
  padding: 1px 20px 1px 20px;
  background: black;
  color: greenyellow;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}
